<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="org.dlw.ai.blackboard.rule.RuleSet"/>
        <mapping class="org.dlw.ai.blackboard.rule.Rule"/>
        <mapping class="org.dlw.ai.blackboard.domain.Antecedent"/>
        <mapping class="org.dlw.ai.blackboard.domain.Consequent"/>
    </session-factory>
</hibernate-configuration>